export(comp.evsi.N)
export(evsi.calc)
export(evsi.plot.dynam)
export(evsi.pop)
export(evsi)
export(evsi.upload)
export(optim.ss)
export(plot.evsi.N)
export(plot.evsi)
#S3method(plot, evsi)
#importFrom("BCEA", "evppi","bcea")
#importFrom("rjags", "jags.model","coda.samples")
#importFrom("R2OpenBUGS", "bugs","write.model")
#importFrom("shiny", "titlePanel","h1","mainPanel","tabsetPanel","tabPanel","fluidRow",
#                    "p","h2","column","h3","sidebarPanel","selectInput","plotOutput","a",
#                    "em","numericInput","uiOutput","tags","h4","textOutput","renderUI",
#                    "sliderInput","observeEvent","updateNumericInput","renderPlot","renderText")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "image", "legend", "plot", "points")
importFrom("stats", "lm", "pnorm", "predict", "qnorm", "quantile","sd", "sigma", "var")
importFrom("utils", "read.csv")
