export(mm.post.var)
export(evsi.calc)
export(gen.data)
export(gen.quantiles)
export(plot.enbs)
export(plot.evsi)
export(plot.prob.ce)
export(plot.samplesize)
export(print.evsi)
export(summary.evsi)
export(optim.samplesize)
export(launch.App)
export(evsi.upload)
export(running.jags)
export(running.bugs)
S3method(plot, evsi)
S3method(summary, evsi)
S3method(print, evsi)
#importFrom("BCEA", "evppi","bcea")
#importFrom("rjags", "jags.model","coda.samples")
#importFrom("R2OpenBUGS", "bugs","write.model")
#importFrom("shiny", "titlePanel","h1","mainPanel","tabsetPanel","tabPanel","fluidRow",
#                    "p","h2","column","h3","sidebarPanel","selectInput","plotOutput","a",
#                    "em","numericInput","uiOutput","tags","h4","textOutput","renderUI",
#                    "sliderInput","observeEvent","updateNumericInput","renderPlot","renderText")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "image", "legend", "plot", "points")
importFrom("stats", "lm", "pnorm", "predict", "qnorm", "quantile","sd", "sigma", "var")
importFrom("utils", "read.csv")
